@page "/impressum"
<PageTitle>Impressum</PageTitle>
<h3>Impressum</h3>

Vorname und Name Max Mustermann <br>
Strasse und Hausnummer Musterstrasse 1<br>
Postleitzahl und Ort 8000 Musterstadt Schweiz<br>
Telefonnummer 044 000 00 00 <br>
ggf. Fax wenn vorhanden oder gewünscht<br>
E-Mail Max.Muster@hshs.ch <br>
Umsatzsteuer-Identifikationsnummer wenn vorhanden<br>


@code {

}
