@page "/"
<link href="_content/BytexDigital.Blazor.Components.CookieConsent/styles.min.css" rel="stylesheet"  />

<PageTitle>Home</PageTitle>

<h1>Welcome to M152</h1>

Welcome to the website for M152
