@page "/styleguide"

<h3>Styleguide</h3>

 <pre>

    This page contains the Styleguide for the Website. 
    The Styleguide defines the used fonts, colors and pagestructure
</pre>
<div class="col-xl-12">
    <RadzenImage Path="images/font.png" Style="width:60%"></RadzenImage>
</div>