@page "/todo"
<h3>Todo</h3>
<div class="row my-5">
    <div class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3">
        <RadzenCard class="m-3" Style="background-color:lightgreen">
                <span>Styleguide </span>
        </RadzenCard>
        <RadzenCard class="m-3" Style="background-color:white">
                <span>Ihr Webseitenkonzept (inkl. Sitemap) </span>
        </RadzenCard>
        <RadzenCard class="m-3">
                <span>Ihre Galerie</span>
        </RadzenCard>
        <RadzenCard class="m-3">
                <span>Ihr Impressum</span>
        </RadzenCard>
        <RadzenCard class="m-3">
                <span>Ihre Erklärungen bezüglich Urheberrecht</span>
        </RadzenCard>
        <RadzenCard class="m-3">
                <span>Ihr Minifilmprojekt und die Einbindung des Filmes in eine Webseite</span>
        </RadzenCard>
        <RadzenCard class="m-3">
                <span>Seite wie man Animationen mit CSS macht (mehrere)</span>
        </RadzenCard>
        <RadzenCard class="m-3">
                <span>Seite wie man Animationen mit "Multi-Gifs" macht und die in die Webseite einbindet</span>
        </RadzenCard>
        <RadzenCard class="m-3">
                <span>Seite was die Unterschiede der Bildformate sind</span>
        </RadzenCard>
        <RadzenCard class="m-3">
                <span>Seite was die Unterschiede zu den Videoformaten & Audioformate sind </span>
        </RadzenCard>
        <RadzenCard class="m-3">
                <span>Ihre Reflexion (in der man sieht, welche "learnings" und welche Erfahrungen Sie gemacht haben) </span>
        </RadzenCard>
    </div>
</div>




@code {

}
