@page "/videoswitcher"
<PageTitle>Video Switcher</PageTitle>


<h3>VideoSwitcher</h3>


<button class="btn btn-primary" @onclick="IncrementCount">Switch video</button>
<br />
@if (currentCount % 2 == 0)
{
    <br />
    <Div class="container" Height ="Height.Is50">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
    </Div>
    }
else
{
    <br />
    <Div class="container" Height ="Height.Is50">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/4r7wHMg5Yjg"></iframe>
    </Div>
}

<br />
<br />
<Div Width="Width.Is25">
    <Video Source="@("videos/1.mp4")" Width="Width.Is100" />
    <Video Source="@("videos/2.mp4")" Width="Width.Is100" />
</Div>




@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}

