@page "/wireframes"

<PageTitle>Wireframes</PageTitle>


<h3>Wireframes</h3>

<div class="row my-5">
    <div class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3">
        <RadzenCard class="m-3">
            <h3 class="mt-3">Wireframe for Standardpages</h3>
            <div class="d-flex flex-row">
                <span>This Page displays how to add Images to a Blazor-Page.
                    <br />Realised with help of Blazor.Radzen to display the images as cards.
                    <br />Import is done via import from "images/imagename.jpg"
                </span>
            </div>
        </RadzenCard>
        <RadzenCard class="m-3">
            <h3 class="mt-3">Wireframe != Mockups</h3>
            <div class ="text-body">
                Wireframes describe the core build process of the website, which part should be where and how big should it be.
                <br />Mockups are much more detailed and show a preview of a finished site including example content.
            </div>
        </RadzenCard>
        <RadzenCard class="m-3" Style="background-color:dimgrey; color:wheat">
            <h3 class="mt-3">Code</h3>
            <pre><code>
    &ltRadzenCard class="m-3">
        &lth3 class="mt-3">Wireframe for Standardpages&lt/&lth3>
        &ltdiv class="d-flex flex-row">
            &ltRadzenImage Path="images/wireframe1.jpg" 
                Class="mr-3" Style="width: 70%" />
        &lt/div>
    &lt/&ltRadzenCard>
            </code></pre>
        </RadzenCard>
        <RadzenCard class="m-3">
            <h3 class="mt-3">Wireframe for Standardpages</h3>
            <div class="d-flex flex-row">
                <RadzenImage Path="images/wireframe1.jpg" Class="mr-3" Style="width: 70%" />
            </div>
        </RadzenCard>
        <RadzenCard class="m-3">
            <h3 class="mt-3">Wireframe for Imagedisplays</h3>
            <div class="d-flex flex-row">
                <RadzenImage Path="images/wireframe2.jpg" Class="mr-3" Style="width: 70%" />
            </div>
        </RadzenCard>
    </div>
</div>


@*
@foreach(string img in images)
{
string pathToImage = string.Concat("images", "/", img);
<div class="row my-5">
        <div class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3">
            <RadzenCard class="m-3">
                <div class="d-flex flex-row">
                    <RadzenImage Path="pathToImage" Class="rounded-circle float-left mr-3" Style="width: 300px; height: 300px;" />
                </div>
            </RadzenCard>
        </div>
    </div>
}
@code{
    private readonly List<string> images = new() { "wireframe1.jpg", "wireframe2.jpg" };
}*@
